@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Malayalam:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Noto+Serif+Malayalam:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.noto-serif-malayalam {
  font-family:"Hatton" ,"Noto Serif Malayalam", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.gruppo-regular {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#root {
  margin: 0 auto;
  text-align: center;
}

/* Footer */

.footer-container{
  
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:space-around;
  height: 160px;
  background-color: rgb(27, 25, 28);
}
.info-footer h4{
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Gruppo", sans-serif;
  font-weight: bold;
  color: rgb(172, 171, 173);
  margin-top: 20px;
} 
.info-footer address{
  display: flex;
  text-align: start;
  font-size: 14px;
  font-family: "Gruppo", sans-serif;
  font-weight: bold;
  color: rgb(172, 171, 173);
  margin-left: 10px;
}
.redes-footer h4{
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Gruppo", sans-serif;
  font-weight: bold;
  color: rgb(172, 171, 173);
  margin-top: 50px;
}
.redes-sociales{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:space-around;
}
.redes-sociales img{
  padding: 10px;
}

/* Navbar */
.navbar-container{
 
}
/* Home */
.home-page{
  
}
.btn-intro-web{
  font-size: 10px;
  text-decoration: none ;
  text-transform: uppercase;
  padding: 4px 18px 4px 18px;
  background-color: white;
  color: rgb(78, 78, 78);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.intro-web{
  height: 200px;
  background-image: url('./assets/fondo.jpg') ;
  background-size: cover; 
  background-position:center calc(100% + 40px); 
  background-repeat: no-repeat; 

  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  
}
.intro-web h1{
  font-family: "Hatton";
  margin-top: 80px;
  font-size: 24px;
  color: white;
  
}
.intro-web p{
  font-size: 18px;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
}
.servicios-home{
  height: 350px;
  background-color: #EFE9DC;
  display: flex;
  flex-direction: column;
}
.servicios-home section{
  color: rgb(204,182,168);
}
.btn-servicios-home{
  font-size: 10px;
  text-decoration: none ;
  text-transform: uppercase;
  padding: 4px 18px 4px 18px;
  background-color: rgb(211, 183, 161);
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.servicios-home-title{
  text-transform: uppercase;
  background-color: white;
}
.servicios-home-cards{
  display: flex;
  flex-direction: row;
}
.servicios-home-cards div{
  padding-left: 15px;
  padding-right: 15px;
}
.servicios-home-cards img{
  width: 80px;
  height: 110px;
  border-radius: 5%;
}
.servicios-home-cards h2{
  color: black;
  text-transform: uppercase;
  font-size: 10px;
}
.servicios-home-cards p{
  text-align: start;
  font-size: 10px;
  padding: 7px;
}
.sobre-mi{
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: rgb(209,182,161);
  color: white;
  display: flex;
  flex-direction: row;
  height: 340px;
  position: relative
}
.sobre-mi-bienvenidos{
  width: 45%;
}
.sobre-mi-bienvenidos h2{
  text-transform: uppercase;
  font-weight: 300;
}
.sobre-mi-bienvenidos p{
  text-align: start;
  font-size: 9px;
  margin: 5px;
}
.sobre-mi-img-span{
  width: 50%;
}
.sobre-mi-img{
  padding-top: 20px;
  margin: 20px;
  width: 190px;
}
.sobre-mi-img-span span{
  font-family: 'Gill Sans';
  padding: 5px;
  width: 300px;
  font-size: 11px;
  text-transform: uppercase;
  background-color: rgb(20,21,23);
  position: absolute;
  top: 80%; 
  left: 40%;
  transform: translate(-50%, -50%); 
}
/* Horario */

.horario-title{
  font-size: 40px;
  font-family: 'Hatton';
  text-transform: uppercase;
  height: 35px;

  
}

/* Servicios */

.servicios{
  padding: 15px;
  background-color: rgb(235,235,235);
  display: flex;
  flex-direction: column;
}
.servicios-pasos{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
}
.servicios-pasos div{
  width: 180px;
}
.servicios-pasos > div h2 {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  
  
}
.servicios-pasos > div p{
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 300;
}
.servicio-container{
  display: flex;
  flex-direction: column;
}
.servicio-container h2 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 30px;
}

/* COGER CITA */

.titulos-comfirmacion{
  font-size: 36px;
  padding-bottom: 80px;
  font-family: 'Hatton';
  text-transform: uppercase;
}
.conditions{
  font-size: 10px;
  padding: 10px;
}
.conditions-section h3{
  font-family: 'Hatton';
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 40px;
}
.conditions-section ul{
  display: flex;
  flex-direction: column;
  text-align: start;
}

/* GALERIA */

.cartas-galeria{
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  overflow: hidden;
}
.likes-galeria {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  padding: 45px; 
  opacity: 0; 
  visibility: hidden;
  transform: translate(0%, 0%); 
  transition: opacity 0.3s, visibility 0.3s; 
}
.cartas-galeria:hover .likes-galeria {
  visibility: visible; 
  opacity: 1;
}
.galeria-container{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-wrap: wrap;
}
.foto-publicacion{
  height: 265px;
  width: 200px;
}
.comentarios-container{
  max-height: 265px; 
  height: 265px;
  overflow-y: auto; 
  padding: 5px; 
  border-bottom: 1px solid #ddd;
}
.comentario-card {
  margin-bottom: 10px; 
  font-size: 10px;
  background-color: #f9f9f9;
}
.comentario-btn-delete{
  position: absolute;
  transform: translate(370%, -40%);
}
/* SINGUP */
.singup-titulo{
  font-family: 'Hatton';
  text-transform: uppercase;
  font-size: 26px;
  padding: 20px;
}
.singup-formulario{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 648px;
}
.singup-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

/* PERFIL */
.perfil-container{
  
  display: flex;
  flex-direction: column;
}
.perfil-container img {
  width: 60px;
}
.encabezado-perfil{
  display: flex;
  flex-direction: row;
  height: 70px;
}
.encabezado-perfil h2{
  text-transform: uppercase;
  color: rgb(27, 25, 28);
  font-family: "Hatton";
  padding-top: 20px;
  font-size: 22px;
}
.divs-perfil{
  color:rgb(27, 25, 28) ;
  background-color: #EFE9DC;
  font-family:'Gill Sans' ;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.divs-perfil h4{
  padding-top: 18px;
  text-transform: uppercase;
  color:rgb(209,182,161);
  font-family: "Hatton";
  font-size: 30px;
}
.divs-perfil div{

  position: relative;
  margin: 10px 7% 10px 7%;
  border: 1px solid rgb(27, 25, 28);
}
.divs-perfil > div p{
  font-size: 20px;
  margin-top: 16px;
}
.divs-perfil > div img{
  width: 30px;
  position: absolute;
  transform: translate(-490%, 50%); 
}
.btn-edit-tlf{
  background-color:rgb(209,182,161) ;
  position: absolute;
  transform: translate(110%, -180%); 
  width: 70px;
}
.perfil-container hr{
 
    border: 1; 
    height: 1px; 
    background-color: #EFE9DC;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 0px 0px; 
}
.privacidad{
  background-color:rgb(209,182,161) ;
  color: white;
  font-family: 'Gill Sans';
  padding: 40px;
  padding-top: 50px;
  padding-bottom: 60px;
  letter-spacing: 1.5px;
  margin-bottom: 0px;
}
/* LISTA CLIENTES */
.datos-clientes{
  display: flex;
  flex-direction: column;
  align-items:start;
}
.clientas-encabezado{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:space-between;
  height: 70px;
}
.buscador-clientas{
  margin: 15px;
  width: 200px;
  height: 45px;
}
.clientas-encabezado h2{
  text-transform: uppercase;
  margin: 20px;
  font-size: 30px;
  font-family: "Hatton";
}